USE [master]
GO
/****** Objeto:  Database [ProjetoComercial]    Data do Script: 14/09/2026 15:54:08 ******/
CREATE DATABASE [ProjetoComercial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoComercial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ProjetoComercial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoComercial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ProjetoComercial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoComercial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoComercial]
GO
/****** Objeto:  User [usuario_app]    Data do Script: 14/09/2026 15:54:08 ******/
CREATE USER [usuario_app] FOR LOGIN [usuario_app] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objeto:  Table [dbo].[Clientes]    Data do Script: 14/09/2026 15:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](120) NOT NULL,
	[Documento] [varchar](20) NOT NULL,
	[Email] [varchar](120) NULL,
	[Telefone] [varchar](20) NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime2](0) NOT NULL,
	[Area] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Usuarios]    Data do Script: 14/09/2026 15:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](255) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[CriadoEm] [datetime] NULL,
	[Cpf] [varchar](11) NOT NULL,
	[Area] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Usuarios__3214EC07FBFF9D68] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nome], [Documento], [Email], [Telefone], [Ativo], [DataCriacao], [Area], [Cargo]) VALUES (16, N'matheus Pestana da silva pinto', N'14703235757', N'milenapsilva17@hotmail.com', N'27995011122', 1, CAST(N'2026-09-10T23:44:27.0000000' AS DateTime2), N'Operações / Logística', N'Coordenador de Logística')
INSERT [dbo].[Clientes] ([Id], [Nome], [Documento], [Email], [Telefone], [Ativo], [DataCriacao], [Area], [Cargo]) VALUES (17, N'romulo barbosa fernandes', N'14685095782', N'milenapsilva17@hotmail.com', N'27995011122', 1, CAST(N'2026-09-11T12:52:16.0000000' AS DateTime2), N'Atendimento / Suporte', N'Gerente de CS')
INSERT [dbo].[Clientes] ([Id], [Nome], [Documento], [Email], [Telefone], [Ativo], [DataCriacao], [Area], [Cargo]) VALUES (18, N'Euseni cordeiro', N'84581158753', N'milenapsilva17@hotmail.com', N'27995011122', 1, CAST(N'2026-09-11T18:50:54.0000000' AS DateTime2), N'Tecnologia / TI', N'Desenvolvedor')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [Senha], [Cargo], [CriadoEm], [Cpf], [Area]) VALUES (1, N'matheus Pestana da silva pinto', N'kaneki2bppsilva296@gmail.com', N'995660232bB!', N'Executivo de Contas', CAST(N'2026-09-10T21:18:27.520' AS DateTime), N'14703235757', N'Comercial')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ_Clientes_Documento]    Data do Script: 14/09/2026 15:54:09 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_Documento] UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Clientes_Ativo]    Data do Script: 14/09/2026 15:54:09 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Ativo] ON [dbo].[Clientes]
(
	[Ativo] ASC
)
INCLUDE([Nome],[Documento]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [IX_Clientes_Nome]    Data do Script: 14/09/2026 15:54:09 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Nome] ON [dbo].[Clientes]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Usuarios__A9D10534B7D89D4C]    Data do Script: 14/09/2026 15:54:09 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__A9D10534B7D89D4C] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_DataCriacao]  DEFAULT (sysutcdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Cargo__5DCAEF64]  DEFAULT ('Equipe Comercial') FOR [Cargo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Criado__5EBF139D]  DEFAULT (getdate()) FOR [CriadoEm]
GO
USE [master]
GO
